:root {
    --header-height: 10vh;
    --aside-width: 10vw;
}
html {
    overflow: hidden; 
}
body{
    height: 100vh;
    text-align: center;
    background: linear-gradient(180deg, #4bb4de, #f6e2bc);
    display: flex;
    flex-direction: column;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    font-size: large;
    overflow-y: scroll;
}
aside{
    height: 100vh;
    width: var(--aside-width);
    position: fixed;
    z-index: 1000;
}
header h1{
    font-size: xx-large;
    color: darkblue;
    text-shadow: 0 0 5px yellow, 
                0 0 10px yellow, 
                0 0 15px lightgoldenrodyellow;
}
header{
    width: 100%;
    height: var(--header-height);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: large;
    border-top: 1px solid navy;
}

a{
    text-decoration: none;
}
nav img{
    width: 50px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    font-size: large;
}
p{
    text-align: justify;
}
nav a:hover{
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 750px){
    :root{
        --aside-width: 5vw;
    }
    header h1{
        font-size: x-large;
    }
    footer{
        font-size: small;
    }
    aside nav{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-height: 420px){
    aside{
        margin-top: -15vh;
        width: 5vh;
    }
    nav a img{
        width: 40px;
    }
    
}