:root {
    --header-height: 10dvh;
    --aside-width: 10dvw;
    --linear-background: linear-gradient(180deg, #4bb4de, #f6e2bc);
}

[theme='Daylight']{
    --linear-background: linear-gradient(180deg, #4bb4de, #f6e2bc);
    --header-color: navy;
    --font-color: black;
    --input-background-color: white;
    --tip-color: navy;
    --nav-background: transparent;
}
[theme='Nightlight']{
    --linear-background: linear-gradient(180deg, #062651, #073f89);
    --header-color: white;
    --font-color: white;
    --input-background-color: lightgrey;
    --tip-color: yellow;
    --nav-background: lightsteelblue;
}


html {
    overflow: auto; 
}
body{
    height: 100vh;
    text-align: center;
    background: var(--linear-background, #4bb4de);
    display: flex;
    flex-direction: column;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    font-size: large;
    overflow-y: scroll;
    color: var(--font-color);
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
header h1{
    font-size: 45px;
    color: var(--header-color);
    text-shadow: 0 0 5px yellow, 
                0 0 10px yellow, 
                0 0 15px lightgoldenrodyellow;
}
header{
    width: 100%;
    height: var(--header-height, 10dvh);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: large;
    border-top: 1px solid navy;
}

a, .theme{
    text-decoration: none;
    color: var(--font-color);
}
nav img{
    width: 50px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    background-color: var(--nav-background);
    padding: 10px;
}

p{
    text-align: justify;
}
nav a:hover, nav button:hover{
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
}
button.theme{
    background-color: transparent;
    border: none;    
}
@media screen and (max-width: 1500px){
    footer{
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 750px){
    :root{
        --aside-width: 5dvw;
    }
    header h1{
        font-size: x-large;
    }
    footer{
        font-size: small;
    }
    aside nav{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-height: 420px){
    aside{
        margin-top: -15dvh;
        width: 5dvh;
    }
    nav a img{
        width: 40px;
    }
    
}