:root {
    --header-height: 150px;
    --section-width: calc(100dvw / 5.5);
    --section-height: calc((100dvh - var(--header-height)) / 2.75);
    --grid-column-width: calc(var(--section-width) + 15px)
}

header{
    height: fit-content;
    display: flex;
    flex-direction: column;
}
main{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    font-size: large;
}
section{
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: #fdebcc;
    width: var(--section-width, 26.5dvw);
    height: var(--section-height, 32.7dvh);
    padding: 0px 5px 5px 5px;
}

.column:nth-child(2) section:nth-child(1) p{
    padding: 0px 20px;
}
.column section:nth-child(2){
    height: calc(var(--section-height, 32.7dvh) / 1.75);
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    align-items: center;
}

#avatar{
    width: calc(var(--section-width, 26dvw)/1.5);
    height: auto;
    border-radius: 50px;
}
#name{
    font-family: 'designed-font', sans-serif, Arial;
    font-size: 45px;
    font-weight: bolder;
    margin-top: -0.5dvw;
    color: color(from rgb(255, 106, 0) srgb r g b / 0.9);
    text-shadow: 0 0 10px rgb(250, 244, 132),
                 0 0 15px rgb(224, 249, 83),
                 0 0 15px rgb(239, 252, 58);
}
h2:has(+ *){
    color: orange;
    text-decoration: underline color(from rgb(255, 115, 0) srgb r g b / 0.7);
}
@font-face {
    font-family: designed-font;
    src: url(/font/QEBEV.ttf) ;
    font-display: swap;
}
#information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

th{
    text-align: right;
    padding: 0px 10px;
    font-weight: bold;
}
td{
    text-align: left;
}
#personality-container span{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 130px;
    font-weight: bold;
}
#personality-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    row-gap: 10px;
}
.skill-ratings{
    list-style: none;
}

.skill-ratings li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.skill-ratings li  p{
    width: 130px;
    text-align: center;
    margin-top: -5px;
}
.rating-stars{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    font-size: x-large;
}
.shining-stars{
    color: gold;
    text-shadow: 
                0 0 10px #ffd700b3, 
                0 0 15px #ffd70080;
}

.empty-stars{
    color: darkgray;
}  

@media screen and (max-width: 2000px){
    :root{
        --section-width: calc(100dvw / 3.5);
        --section-height: calc((100dvh - var(--header-height))/1.75 );
    }

}
@media screen and (max-width: 1500px){

    .skill-ratings li{
        margin-left: -20px;
    }
    #avatar{
        width: var(--section-width);
    }
   
}
@media screen and (max-width: 1400px){

    :root{
        --section-height: calc((100dvh - var(--header-height))/2.5);
        --section-width: calc(100dvw / 3.5);
    }
    .skill-ratings li{
        margin-left: -20px;
    }
    #avatar{
        width: calc(var(--section-width, 28.57dvw)/1.25);
    }
   
}

@media screen and (max-width: 1200px){
    :root{
        --section-width: 50dvw;
        --section-height: fit-content;
    }
    table, p, #personality-container{
        font-size: large;
    }
    #avatar{
        width: var(--section-width, 100px)
    }  
    #name{
        font-size: 55px;
        margin: 0;
    }
    main{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    section{
        font-size: larger;
    }
    #personality-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skill-ratings li{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: -10px;
    }
    .skill-ratings li p{
        margin-left: 0px;
        text-align: center;
    }
    .rating-stars{
        margin-left: 0px;
    }
}


@media screen and (max-width: 700px){
    :root{
        --section-width: 250px;
        --section-height: fit-content;
    }
    h2{
        font-size: large;
    }
    table, p, #personality-container{
        font-size: medium;
    }
    
    #name{
        font-size: x-large;
    }

    nav{
        font-size: x-small;
    }
    nav img{
        width: 25px;
    }
    main{
        margin-left: 0 ;        
    } 
}
@media screen and (max-width: 400px){
    :root{
        --section-width: 200px;
        --section-height: fit-content;
    } 
    h2{
        font-size: large;
    }
    table, p, #personality-container{
        font-size: medium;
    }
    #name{
        font-size: x-large;
    }

    main{
        margin-left: 10px ;        
    } 

}

